:root {
  --font-color: #333;
  --link: #756AB6;
  --link-hover: #AC87C5;
}

body {
  background-image: url("/images/background.png");
  color: var(--font-color);
  font-family: sans-serif;
  line-height: 1.5;
  margin: 1rem auto;
  max-width: 1024px;
}

a {
  color: var(--link);
  text-decoration: none;
}

a:hover {
  color: var(--link-hover);
}
img {
  max-width: 100%;
}
.container {
  max-width: 960px;
}
nav ul {
  display: flex;
  flex-direction: row;
  margin: 1em 1em;
  padding: 0;
}
nav ul li {
  list-style: none;
  margin: 0 1em 0 0;
}

article {
  display: flex;
  flex-direction: column;
}

main {
  background-color: white;
  max-width: 100%;
  padding: 1em;
}
sub {
  font-size: medium;
  margin: 3em 0 1em;
  max-width: 100%;
}
.profile {
  background-color: white;
  margin: 0 auto;
  padding: 1em;
}
.profile img {
  display: block;
  width: 120px;
  border-radius: 50%;
  margin: 0 auto;
}
.profile .author {
  text-align: center;
  margin: .5em auto;
  font-weight: bold;
}
.profile .bio {
  font-size: .9em;
  margin: 1em auto 0;
}

header {
  margin-bottom: 1rem;
}

header a {
  display: inline-block;
  padding: 0;
  margin: 1em 0 0 0;
}

header a h1 {
  color: #333;
  margin: 0 0 0 8px;
}
.header {
  display: flex;

  flex-direction: column;
}
.header p {
  margin: 0 0 1em 8px;
}

footer p {
  font-size: small;
  text-align: center;
}

main .content {
  border-bottom: solid 1px #ccc;
}
.post {
  margin-top: 24px;
}
.post h2 {
  margin: 0;
}
.post time {
  margin: 0;
}

.single h1 {
  margin: 0;
}

.single time {
  display: block;
  margin-bottom: 3em;
}

.terms {
  margin-top: 3em;
}

pre {
  white-space: pre-wrap;       /* CSS3 */
  white-space: -moz-pre-wrap;  /* Firefox */
  white-space: -pre-wrap;      /* Opera <7 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* IE */
  padding: .5em;
}

blockquote {
  border-left: solid 4px #ccc;
  margin: 1em;
  padding: 0 1em;
}

/* ------------------------------------ */
/* ▼PC用デザインとして付け足すデザイン */
/* ------------------------------------ */
@media (min-width: 1024px) {
  .container {
    margin: 1em;
  }
  article {
    flex-direction: row;
  }
  main {
    margin-right: 2em;
    padding: 2em;
    width: 100%;
  }
  sub {
    margin: 0;
    max-width: 280;
    min-width: 280px;
    width: 280px;
  }
  footer {
    margin-top: 3em;
  }
  
  header, header a, header a h1, header p {
    margin: 0;
  }

  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1em;
  }
  
  .header p {
    margin: 0 0 0 1em;
  }
}