<!DOCTYPE html>
<html lang="{{ or site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">

<head>
  {{ partial "head.html" . }}
</head>

<body>
  <div class="container">
    <header>
      {{ partial "header.html" . }}
    </header>
    <article>
      <main>
        {{ block "main" . }}{{ end }}
      </main>
      <sub>
        {{ partial "search-input.html" . }}
        {{ partial "profile.html" . }}
        {{ partial "tag-cloud.html" . }}
        {{ partial "top-button.html" . }}
      </sub>
    </article>
    <footer>
      {{ partial "footer.html" . }}
    </footer>
  </div>
</body>

</html>