{{ with index site.Taxonomies "tags" }}
  <div data-pagefind-ignore class="panel sidebar-menu">
    <div class="panel-heading">
      <h1 class="panel-title">Tags
      </h1>
    </div>
    <div class="panel-body">
      <ul class="tag-cloud center">
        {{ $m := dict
          "steps" (slice 1 3 5 7 9 11 15 30 60 120)
          "sizes" (slice "10px" "12px" "14px" "16px" "17px" "19px" "20px" "21px" "22px")
        }}
        {{ range $name, $items := . }}
          {{ if not (in (slice "radio" "about") $name) }}
            {{ range $k, $_ := $m.steps }}
              {{ if le $items.Count . }}
                <li><a style="font-size: {{ index $m.sizes $k }}" class="btn btn-transparent" href="{{ $items.Page.RelPermalink }}"> {{ $name | title }} <span class="" style="color: #AAA; font-size: 12px; text-decoration: none;">({{ $items.Count }})</span></a></li>
                {{ break }}
              {{ end }}
            {{ end }}
          {{ end }}
        {{ end }}
      </ul>
    </div>
  </div>
{{ end }}